@charset "UTF-8";

table {
    width: 400px;
    background-color: lightgray;
    border-collapse: collapse;
    text-align: center;
}

caption {
    background-color: black;
    color: white;
    font-size: 2em;
}

td {
    border: 2px solid black;
    font-weight: bold;
    padding: 10px;
}