@charset "UTF-8";

.quadrado {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(178, 177, 177, 0.859);
    width: 240px;
    height: 240px;
}

#q1 {
    background-color: skyblue;
}

#q2 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 29, 0.541), rgb(255, 106, 0));
}

#q3 {
    background-image: url(imagens/pattern003.png);
}